<div ng-controller="DashboardController" ng-cloak>
  <div class="container">
    <div class="row">
      <!--<div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">Applications <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Blah1</a></li>
          <li><a href="#">Blah2</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="">Nav item</a></li>
        </ul>
      </div>-->
      <div class="col-sm-12 col-md-12 main">
        <!--<h1 class="page-header">Dashboard</h1>-->

        <div class="row">
          <div class="col-md-8" ng-repeat="app in applications">
            <div class="panel panel-info">

              <div class="panel-heading">{{app.name}}</div>
              <div class="panel-body">
                <!--<img src="/images/cloud.jpg" class="img-responsive" alt="Generic placeholder thumbnail">-->


                <form ng-hide="app.components.length > 0" ng-submit="registerComponents(app)" id="add-component" class="form-signin" name="add-component">
                  <div class="row">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="git URL" name="git"
                             ng-model="addGitURLForm.url" required>
                      <!-- Disable button until the form has no errors -->
                    <span class="input-group-btn">
                      <button class="btn btn-primary btn-block" type="submit">
                        <span ng-show="!addGitURLForm.loading">Add Git URL</span>
                        <span class="overlord-loading-spinner fa fa-spinner" ng-show="addGitURLForm.loading"></span>
                        <span ng-show="addGitURLForm.loading">Adding Git URL...</span>
                      </button>
                    </span>
                    </div>

                    <br/>

                    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
                  </div>
                </form>

                <div ng-repeat="component in components | filter:{application_id: app.id}">
                  <div class="panel" ng-class="component.node ? 'panel-success' : 'panel-warning'">
                    <div class="panel-heading">{{component.name}}:
                      <span class="pull-right">
                        <div class="btn-group-sm" role="group" aria-label="...">
                          <button type="button" class="btn btn-sm btn-default" ng-class="{active: component.node == 'swarm-master'}" ng-click="move(component, 'swarm-master')">swarm-master</button>
                          <button type="button" class="btn btn-sm btn-default" ng-class="{active: component.node == 'swarm-agent-00'}" ng-click="move(component, 'swarm-agent-00')">swarm-agent-00</button>
                          <button type="button" class="btn btn-sm btn-default" ng-class="{active: component.node == 'swarm-agent-01'}" ng-click="move(component, 'swarm-agent-01')">swarm-agent-01</button>
                        </div>
                      </span>
                    </div>
                    <div class="panel-body">
                      <ul class="list-group">
                        <li class="list-group-item">Image: {{component.image}}</li>
                        <li class="list-group-item" ng-show="component.environment">Environment:
                          <ul>
                            <li ng-repeat="env in component.environment">{{env}}</li>
                          </ul>
                        </li>
                        <li class="list-group-item" ng-show="component.ports">Ports:
                          <ul>
                            <li ng-repeat="port in component.ports">{{port}}</li>
                          </ul>
                        </li>
                        <span class="label label-warning" ng-hide="component.ready">Making it ready...</span>
                        <span class="label label-success" ng-show="component.ready">Ready</span>
                      </ul>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block" ng-hide="app.components.length == 0" ng-click="deploy(app)">Deploy</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row top-buffer">
          <form ng-submit="addApplication()" id="add-app" class="form-signin" name="add-app">
            <div class="row">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Add application..." name="name"
                       ng-model="addAppForm.name" required>
                <!-- Disable button until the form has no errors -->
                <span class="input-group-btn">
                  <button class="btn btn-primary btn-block" type="submit">
                    <span ng-show="!addAppForm.loading">Add Application</span>
                    <span class="overlord-loading-spinner fa fa-spinner" ng-show="addAppForm.loading"></span>
                    <span ng-show="addAppForm.loading">Creating app...</span>
                  </button>
                </span>

                <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
