<div ng-controller="SignupController" ng-cloak>
  <div class="container">
    <div id="sign-up-form" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Sign Up</div>
        </div>
        <div class="panel-body" >
          <form ng-submit="submitSignupForm()" id="signupform" class="form-horizontal" role="form" name="signup">

            <div class="form-group control-group" ng-class="{'has-error':signup.email.$invalid && signup.email.$dirty}">
              <label for="email" class="col-md-3 control-label">Email</label>
              <div class="col-md-9">
                <input type="email" class="form-control" placeholder="mail@mail.com" name="email" ng-model="signupForm.email" required>
                  <span class="help-block has-error" ng-if="signup.email.$dirty">
                    <span ng-show="signup.email.$error.required">Email address is required.</span>
                    <span ng-show="signup.email.$error.email">Not a valid email address.</span>
                  </span>
              </div>
            </div>

            <div class="control-group form-group" ng-class="{'has-error':signup.password.$invalid && signup.password.$dirty}">
              <label for="password" class="col-md-3 control-label">Password</label>
              <div class="col-md-9">
                <input type="password" class="form-control" placeholder="at least 6 characters" name="password" ng-model="signupForm.password" id="password" required ng-minlength="6" compare-to="signupForm.confirmPassword">
                  <span class="help-block has-error" ng-if="signup.password.$dirty">
                    <span ng-show="signup.password.$error.required">Password is required.</span>
                    <span ng-show="signup.password.$error.minlength">Password must be at least 6 characters.</span>
                  </span>
              </div>
            </div>

            <div class="control-group form-group">
              <label for="password" class="col-md-3 control-label">Confirmation</label>
              <div class="col-md-9">
                <input type="password" class="form-control" placeholder="one more time" name="confirmation" ng-model="signupForm.confirmPassword" required>
                  <span class="help-block has-error" ng-if="signup.confirmation.$dirty">
                    <span ng-show="signup.password.$error.compareTo">Password must match.</span>
                    <span ng-show="signup.confirmation.$error.required">Confirmation password is required.</span>
                  </span>
              </div>
            </div>

            <div class="form-group">
              <!-- Button -->
              <div class="col-md-offset-3 col-md-9">
                <button type="submit" ng-disabled="signup.$invalid" class="btn btn-info">
                  <span ng-show="!signupForm.loading">Sign Up</span>
                  <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
                  <span ng-show="signupForm.loading">Preparing your new account...</span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
