<div ng-controller="usersController">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users" ng-cloak>
              <td ng-cloak>{{user.username}}</td>
            </tr>
          </tbody>
        </table>
        <input class="input-lg" type="text" ng-model="newUser" placeholder="New User...">
        <button class="btn-lg" ng-click="addUser()">Add</button>
      </div>
    </div>
  </div>
</div>
